{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="main">

        <!-- ======= Intro Single ======= -->
        <section class="intro-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single">{{ post.title }}</h1>
                            <span class="color-text-a">{{ post.category }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Intro Single-->

        <!-- ======= Blog Single ======= -->
        <section class="news-single nav-arrow-b">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="news-img-box">
                            <img style="height: 500px; object-fit: cover; width: 1500px;" src="{{ post.image }}" alt=""
                                 class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <div class="post-information">
                            <ul class="list-inline text-center color-a">
                                <li class="list-inline-item mr-2">
                                    <strong>Author: </strong>
                                    <span class="color-text-a">{{ post.author.profile.full_name }}</span>
                                </li>
                                <li class="list-inline-item">
                                    <strong>Date: </strong>
                                    <span class="color-text-a">{{ post.created_on }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="post-content color-text-a">
                            <p class="post-intro">{{ post.content }} </p>
                        </div>
                    </div>
                    <!-- ======= End Blog Single ======= -->

                    <!-- ======= Start Comment Section ======= -->
                    <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                        <div class="title-box-d">
                            <h3 class="title-d">Comments ({{ comments_count }})</h3>
                        </div>
                        <div class="box-comments">

                            <ul class="list-comments">
                                {% if comments %}
                                    {% for comment in comments %}
                                        <li>
                                            <div class="comment-avatar">
                                                <img src="
                                                        {% if not comment.user.profile.image %}{% static 'img/default-image.jpg' %}{% else %}{{ comment.user.profile.image }}{% endif %}"
                                                     alt="" class="agent-avatar img-fluid">
                                            </div>
                                            <div class="comment-details">
                                                <h4 class="comment-author">{{ comment.user }}</h4>
                                                <span>{{ comment.published }}</span>
                                                <p class="comment-description">
                                                    {{ comment.text }}
                                                </p>
                                                {% if request.user == comment.user and not perms.blog.change_comment %}
                                                    <a class="btn btn-danger btn-sm mt-1 mb-1"
                                                       href="{% url 'delete comment' comment.id %}">Delete</a>
                                                {% endif %}
                                              {% if perms.blog.change_comment %}
                                                    <a class="btn btn-danger btn-sm mt-1 mb-1"
                                                       href="{% url 'delete comment' comment.id %}">Delete</a>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li><h3>There are no comments for this post. </h3></li>
                                {% endif %}
                            </ul>
                                {% if request.user.is_authenticated %}
                                    <div class="box">
                                        <form method="post" action="{% url 'comment post' post.slug %}">
                                            {% csrf_token %}
                                            {{ comment_form }}
                                            <button style="margin-top:8px; margin-bottom:8px" class="btn btn-b btn-sm"
                                                    type="submit">Add
                                            </button>
                                        </form>
                                    </div>
                                {% else %}
                                    <div style="padding-bottom: 10px" class="box">
                                        <span>You must be logged in to post a comment! <a href="{% url 'login user' %}">Login</a></span>
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                    <!-- ======= End Comment Section ======= -->
                </div>
            </div>
        </section><!-- End Blog Single-->

    </main><!-- End #main -->

{% endblock %}